[Unit]
Description=Telegram bot 'user_bot_4'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bin/bot
ExecStart=/usr/bin/python3 /usr/local/bin/bot/bot_user_4.py
RestartSec=10
Restart=always
 
[Install]
WantedBy=multi-user.target